{% extends 'base.html' %}

{% block Title %}
  <title>Tags - Todo App</title>
{% endblock Title %}

{% block content %}
  <h1>Tags</h1>
  <a href="{% url 'todo:tag-create' %}" class="btn btn-primary mb-3">Add New Tag</a>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for tag in tags %}
        <tr>
          <td>{{ tag.name }}</td>
          <td>
            <a href="{% url 'todo:tag-update' tag.pk %}" class="btn btn-warning">Update</a>
          </td>
          <td>
            <a href="{% url 'todo:tag-delete' tag.pk %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
